<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="./hover.css">
    <title>hover effect</title>
</head>
<body>
    <main class="h-screen bg-gray-900">
        <div class="container flex flex-col justify-center items-center  mx-auto h-screen ">
            <a href="#" class="firstHover uppercase inline-block text-xl tracking-wide  border-2 relative px-12 py-8 ">hover me</a>
        </div>
    </main>
</body>
</html>