@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*  {
    font-family: 'Poppins' , 'san-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inputName {
    box-shadow: 0 0 10px #0f0 , inset 0 0 10px #0f0;
}

.question {
    color: transparent;
    -webkit-text-stroke: 1px #0ef;
}

.btn {
    box-shadow: 0 0 40px #56ed6f;
}

.pulse span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: inherit;
    animation: pulseAnimate 4s ease-out infinite;
    animation-delay: calc(1s * var(--i));
}

@keyframes pulseAnimate {
    100% {
        opacity: 0;
        transform: scale(2);
       
}
   
}